<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码修改成功</title>
    <link rel="shortcut icon" href="/static/img/gallery_favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <p>密码修改成功！</p>
            <p class="logo"><a href="{% url 'users:gallery' %}">返回Gallery</a></p>
        </div>
    </div>
</div>
</body>
</html>