/**
 * Comment
 */
.comment-area {
    padding: 0 30px 0;
}

.comment-form {
    margin-top: 15px;
}

.comment-form .comment-btn {
    background-color: #fff;
    border: 1px solid #aaa;
    font-size: 16px;
    padding: 5px 10px;
}

.comment-list-panel {
    margin-top: 30px;
}

.comment-list {
    margin-top: 15px;
}

.comment-item:not(:last-child) {
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.comment-item .nickname,
.comment-item .submit-date {
    color: #777;
    font-size: 14px;
}

.comment-item .nickname:after {
    content: ' ';
}

.comment-item .text {
    padding-top: 5px;
    font-size: 16px;
}