{% extends "base.html" %}

{% block title %}分类{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/article_list.css" />
{% endblock css %}

{% block mainbody %}
{% load get_category %}

<div class="container">
  <div class="main">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="octicon octicon-list-unordered"></span>&nbsp;Categories
            <span class="caret"></span>
        </button>
        {% get_category as category_list %}
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for category in category_list %}
            <li>
              <a  class="categories-item" href="{% url 'category' category.pk %}">{{ category.name }}
                <span class="categories-badge">({{ category.num_blogs }})</span></a>
            </li>
            {% empty %}
              暂无归档
            {% endfor %}
        </ul>
    </div> <!-- end dropdown -->

    {% for blog in blogs %}
        <article>
            <span class="octicon octicon-calendar"></span> &nbsp;&nbsp;{{ blog.created|date:"Y-m-d" }}
            <div class="module">
                <a class="title" href="{{blog.get_absolute_url}}"> {{ blog.title }}</a>
                <footer class="blog-footer">
                    <span class="octicon octicon-file-submodule"></span>&nbsp;&nbsp;<b>Archive:</b>&nbsp;&nbsp;
                      <a href="/category/">{{ blog.catagory.name }}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="octicon octicon-tag"></span>&nbsp;&nbsp;<b>Tags:</b>
                    {% for tag in blog.tags.all %}
                      &nbsp;<a href="/tag/#{{tag.name}}">{{ tag.name }}</a>
                    {% endfor %}
                     &nbsp;&nbsp;&nbsp;&nbsp;<span class="octicon octicon-comment"></span>&nbsp;&nbsp;<b>Comments:</b>
                     &nbsp;&nbsp;<a href="{{blog.get_absolute_url}}#comment-area">{{ blog.comment_set.count }}</a>
                </footer>
            </div>
        </article>
    {% endfor %}
    
    </div> <!-- end container -->
</div> <!-- end main -->

{% endblock %}